.header-container {
    background-color: #FFF5F5;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-img {
    width: 100px;
    height: 50px;
    margin-left: 20px;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
  }
  